bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Solaria/FileContentIndex/31563d35-bb82-4ed4-a23a-7a05ff3d578f.vsidx
/.vs/Solaria/FileContentIndex/fe6d02a7-05c5-4b54-bc82-84326dc85b14.vsidx
/.vs/Solaria/FileContentIndex/e88139e8-ae6b-4fcb-9950-fcfad3940860.vsidx
/.vs
