bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Solaria/FileContentIndex/51f2ae50-5fc2-4bc6-81c9-74b778e8362d.vsidx
/.vs/Solaria/FileContentIndex/78bae183-4952-46c9-91e3-bd59020e6d42.vsidx
/.vs/Solaria/FileContentIndex/aee8e5a6-88ec-48ff-b555-fdc5d962ed3c.vsidx
/.vs/Solaria/FileContentIndex/4abb734d-332c-4471-96f7-1e43463bb116.vsidx
