bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Solaria/FileContentIndex/31563d35-bb82-4ed4-a23a-7a05ff3d578f.vsidx
/.vs/Solaria/FileContentIndex/fe6d02a7-05c5-4b54-bc82-84326dc85b14.vsidx
/.vs/Solaria/FileContentIndex/e88139e8-ae6b-4fcb-9950-fcfad3940860.vsidx
/.vs

/.vs/Solaria/FileContentIndex/51f2ae50-5fc2-4bc6-81c9-74b778e8362d.vsidx
/.vs/Solaria/FileContentIndex/78bae183-4952-46c9-91e3-bd59020e6d42.vsidx
/.vs/Solaria/FileContentIndex/aee8e5a6-88ec-48ff-b555-fdc5d962ed3c.vsidx
/.vs/Solaria/FileContentIndex/4abb734d-332c-4471-96f7-1e43463bb116.vsidx
